<div class="container mt-5">
  <h2 class="mb-4">Meus Pedidos</h2>

  <table class="table">
    <thead>
      <tr>
        <th>Número do Pedido</th>
        <th>Data do Pedido</th>
        <th>Quantidade</th>
        <th>Preço Total</th>
        <th>Status</th>
        <th>Itens</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>2023-01-01</td>
        <td>2</td>
        <td>R$ 100,00</td>
        <td>Entregue</td>
        <td><button class="btn btn-primary" onclick="visualizarItens(1)">Visualizar Detalhes</button></td>
      </tr>
      <tr>
        <td>2</td>
        <td>2023-02-01</td>
        <td>1</td>
        <td>R$ 30,00</td>
        <td>Em Processamento</td>
        <td><button class="btn btn-primary" onclick="visualizarItens(2)">Visualizar Itens</button></td>
      </tr>
      <!-- Adicione mais linhas conforme necessário -->
    </tbody>
  </table>
</div>